---
---

@import "{{ site.theme }}";
.sidebar {
    width: 225px;
}
.wrapper {
    width: 900px;
}
.sidebar h1 {
    margin-top: 10px;
    text-align: center;
}

:root {
    --clr-a-text: #408069;
    --clr-a-text-hvr: #88c070;
}