---
layout: default
---

<section id="release-heading">
  <span id="release-title">{{- page.title -}}</span>
  <span id="release-date">{{ page.date | date: "%Y-%m-%d" }}</span>
</section>

<div class="group-box">
  <div class="group-box-title">
    Links
  </div>
  <div class="group-box-content">
    <a class="button button-filled" href="{% include docs-link.html version=page.title %}">Docs</a>
    <a class="button button-filled" href="{% include source-link.html version=page.title %}">Source</a>
  </div>
</div>

<div class="group-box">
  <div class="group-box-title">
    Changes
  </div>
  <div class="group-box-content">
    {{- content -}}
  </div>
</div>
